body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #e6e6e6;
}

.container {
  max-width: 900px;
  margin: 75px auto;
  text-align: center;
  background-color: #c5c5c5;
  padding: 20px;
  border-radius: 10px;
  margin-top: 40px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.aj-group {
  max-width: 300px;
  margin: auto;
  background-color: #e6e6e6;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.aj-group:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
  background-color: #c5c5c5;
}

.about {
  max-width: 600px;
  margin: 100px auto;
  text-align: center;
  background-color: #c5c5c5;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  font-size: 20px;
}

.about:hover {
  box-shadow: 0 10px 30px rgba(36, 36, 36, 0.18);
  transition: all 0.3 ease;
}

.plans {
  max-width: 1000px;
  text-align: center;
  margin: 100px auto;
  background-color: #c5c5c5;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  font-size: 20px;
}

.inner-plan {
  background-color: #a8ff78;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.agri {
  background-color: #baff95;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  font-size: 20px;
}

.inner-plan-2 {
  background-color: #78ffd6;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
}

.clothing {
  background-color: #9fffe2;
  padding: 20px;
  border-radius: 30px;
  margin-top: 30px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.18);
  font-size: 20px;
}

.plans-row {
  display: flex;
  gap: 30px;
}

.inner-plan,
.inner-plan-2 {
  flex: 1;
}

.inner-plan:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

.inner-plan-2:hover {
  transform: scale(1.05);
  transition: all 0.3s ease;
}

input {
  padding: 10px;
  border-radius: 8px;
  border: 2px solid #ccc;
  outline: none;
  font-size: 14px;
}

input:focus {
  border-color: #4f46e5;
  box-shadow: 0 0 5px rgba(79, 70, 229, 0.5);
}

input::placeholder {
  color: #999;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: #111;
}
.logo {
  color: white;
  font-size: 22px;
  font-weight: bold;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 25px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-size: 15px;
  transition: 0.3s;
}

html {
  scroll-behavior: smooth;
}
